<div class="alert alert-success mt-4 alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    <h4 id="submit-success-heading" class="alert-heading">{{ contactForm.submitOutcomes.success.heading }}</h4>
    <hr>
    <p id="submit-success-body"  class="mb-0">{{ contactForm.submitOutcomes.success.body }}</p>
  </div>