<footer class="text-light bg-dark pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left ">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6  mb-3 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Studio Maule</h5>
        <p>
          Traducciones públicas italianas.
        </p>
      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none pb-3" /> -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">{{contacto}}</h5>

        <ul class="list-unstyled social-media-list">
          <li class="position-relative">
            <i class="fas fa-envelope mr-1"></i
            ><a class="stretched-link" href="#!">info@studiomaule.com.ar</a>
          </li>
          <li class="position-relative">
            <i class="fas fa-phone mr-1"></i
            ><a class="stretched-link" href="#!">+54 911 4534-2335</a>
          </li>
          <li class="position-relative">
            <i class="fas fa-map-marker-alt mr-1"></i
            ><a class="stretched-link" href="#!">Buenos Aires, Argentina</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Nuestras redes</h5>

        <ul class="list-unstyled social-media-list">
          <li class="position-relative">
            <i class="fab fa-twitter mr-1"></i
            ><a class="stretched-link" href="#!">Twitter</a>
          </li>
          <li class="position-relative">
            <i class="fab fa-instagram mr-1"></i
            ><a class="stretched-link" href="#!">Instagram</a>
          </li>
          <li class="position-relative">
            <i class="fab fa-facebook mr-1"></i
            ><a class="stretched-link" href="#!">Facebook</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright py-2 d-flex justify-content-center">
    <ul class="d-inline-block px-1">
      <li>
        © 2020 Studio Maule
      </li>
      <li>
        <a class="" href="#">Términos y privacidad</a>
      </li>
      <li>
        <a class="" href="#">Dev. Julián Zatloukal</a>
      </li>
    </ul>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
