<nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
        <img src="./assets/img/logo_composite.svg" class="logo-studio-maule" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" id="nav-item-inico" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-item-servicios" href="#">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-item-quienes-somos" href="#">¿Quiénes somos?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-item-nuestros-clientes" href="#">Nuestros clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-item-contacto" href="#">Contacto</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto mr-5">
            <li class="nav-item dropdown d-none">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><span class="flag-icon flag-icon-es"> </span> Español</a>
                <div class="dropdown-menu" aria-labelledby="dropdown09">
                    <a class="dropdown-item" href="#it"><span class="flag-icon flag-icon-it"> </span> Italiano</a>
                </div>
            </li>
        </ul>
    </div>
</nav>