.service-view-more{
    text-indent: 0;
}

.service-card-body {
    text-indent: 5%;
    text-align: justify;
    text-justify: distribute;
    //word-break: break-all;
    text-align-last: left;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
  }